.item-detail {
    margin: 3rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.item-detail p {
    margin: 0;
    width: 400px;
}

.item-detail .item-info {
    display: flex;
    flex-flow: row nowrap;
}

.item-description {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: normal;
    text-align: left;
}

.item-price {
    color: #587e76;
    font-size: 36px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
}

.loading {
    text-align: center;
    margin: 3rem;
}

.go-to-cart {
    background-color: #587e76;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color .3s ease-out;
}
.go-to-cart:hover:not(:disabled){
    background-color: #bd5734;
}